<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper post">
		{{ partial "head.html" . }}

		<div class="post-header">
			<h1 class="title">{{ .Title }}</h1>
			<h3>
				<blockquote>{{ .Description }}</blockquote>
			</h3>

			<div class="meta">
				Tags &mdash; |
				{{ range .Params.tags }}
				<a href="tags/{{ . | absURL }}/">{{ . }}</a> |
				{{ end }}
				Categories: &mdash;
				{{ range .Params.categories }}
				<a href="categories/{{ . | absURL }}/">{{ . }}</a> |
				{{ end }}
			</div>
			<div class="meta">Posted at &mdash; {{ dateFormat "Jan 2, 2006" .Date }}</div>





		</div>

		<div class="markdown">
			{{ .Content }}
		</div>

	</div>
	{{ partial "footer.html" . }}
</body>

</html>